.container#main {
	padding: 30px 0;
}

.social-page-options {
	ul {
		li {
			margin-bottom: 15px;
			a {
				display: block;
				color: #fff;
				background-color: #333;
				text-align: center;
				position: relative;
				min-height: 80px;
				border-radius: 4px;
				span {
					&.icon {
						position: absolute;
						top: 0;
						left: 0;
						width: 80px;
						height: 80px;
						i {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-size: 24px;
						}
						&:after {
							position: absolute;
							content: '';
							background-color: #fff;
							width: 1px;
							height: 40px;
							top: 50%;
							right: 0;
							transform: translateY(-50%);	
						}
					}
					&.name {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			&.facebook {
				a {
					background-color: #3b5998;
					&:hover {
						background-color: darken(#3b5998, 10%);
					}
				}
			}
			&.google-plus {
				a {
					background-color: #dd4b39;
					&:hover {
						background-color: darken(#dd4b39, 10%);
					}
				}
			}
			&.yelp {
				a {
					background-color: #C41200;
					&:hover {
						background-color: darken(#C41200, 10%);
					}
				}
			}
		}
	}
}

.completed {
	h1 {
		font-size: 80px;
		color: @brand-success;
	}
}

.social-form {
	input[type="submit"] {
		display: none;
	}
}

.form-progress {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
}